<!-- main app container -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<header class="header">
<div class="container">
<div class="row">
<div class="span8">
  <ul id="topMenu" class="nav pull-right">
   <li class="">
   <form class="form-inline navbar-search" method="post" action="products.php" style="padding-top:5px;">
    <select class="span3" style="padding:5px 3px; height:auto">
      <option>All</option>
      <option>Clothes </option>
      <option>Women's Wear </option>
      <option>Men's Wear </option>
      <option>Kids Wear </option>
    </select>
    <input class="span4" type="text" placeholder="eg. T-shirt" style="padding:4px 3px;">
    <button type="submit" class="btn btn-warning btn-small" style="margin-top:0"> GO </button>
  </form>
  </li>
  </ul>
</div>
 <div class="span4 right-align loginArea" style="margin-top:8px;">
  <span *ngIf="currentUser?.user.name" class="btn btn-mini" id="logout"><a routerLink="login">Logout</a></span>
  <span  *ngIf="!currentUser?.user.name" routerLink="login" class="btn btn-mini" id="login">Login</span>
  <a href="register.php"><span class="btn btn-mini btn-success"> Register  </span></a>
  <a href="checkout.php"><span class="btn btn-mini btn-danger"> Cart [2] </span></a>
</div>
</div>
</div>
<div class="navbar" style="background: black;">
  <div class="navbar-inner">
    <a class="brand" href="#">My Cart</a>
    <ul class="nav">
      <li class="dropdown" *ngFor="let masterCategory of masterCategories">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{masterCategory.name}}<b class="caret"></b></a>
         <ul *ngIf="masterCategory?.subCategory" class="dropdown-menu multi-column columns-3">
             <div class="row">
                  <div class="span3">
                    <ul *ngIf="masterCategory?.subCategory" class="multi-column-dropdown">
                      
                      <li *ngFor="let subCat of masterCategory.subCategory" >
                        <a href="#">{{subCat.name}}</a>
                      </li>

                    </ul>
                  </div>
                  <div class="span3">
                    <ul *ngIf="subCat?.subCategory" class="multi-column-dropdown">
                      <li *ngFor="let subChildCat of subCat.subCategory" ><a href="#">{{subChildCat.name}}</a></li>
                    </ul>
                  </div>
                  <div class="span3">
                    <ul *ngIf="subsChildCat?.subCategory" class="multi-column-dropdown">
                      <li *ngFor="let childCat of subCat.subCategory"><a href="#">{{childCat.name}}</a></li>
                    </ul>
                  </div>
              </div>
           </ul>
      </li>
   </ul>
  </div>
</div>

</header>

<!-- ======================================================================================================================== -->
